* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.header {
  background-color: white;
}
.header .nav_top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
}
.header .nav_top .search_bar .search {
  margin: 9px 0;
  position: relative;
}
.header .nav_top .search_bar .search input {
  max-width: 27rem;
  height: 3.5rem;
  border: none;
  border-radius: 5rem;
  box-shadow: 1px 3px 8px -3px black;
  outline: none;
  padding: 0 2rem;
}
.header .nav_top .search_bar .search i {
  position: absolute;
  top: 0;
  left: 104%;
}
.header .nav_top .nav_linkes .user_status .user_profile {
  visibility: hidden;
  display: grid;
  place-items: center;
}
.header .nav_top .nav_linkes .user_status .user_profile .img {
  width: 3.8rem;
  border-radius: 50%;
  height: 3.8rem;
  overflow: hidden;
}
.header .nav_top .nav_linkes .user_status .user_profile .img img {
  width: 100%;
}
.header .nav_top .nav_linkes .user_status .login {
  visibility: hidden;
}
.header .nav_top .nav_linkes .user_status .login a {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: green;
  color: white;
  padding: 0.3rem 2rem;
  cursor: pointer;
}

.wrapper .add_container {
  height: auto;
  width: 100%;
}
.wrapper .add_drop {
  height: 30%;
}
.wrapper .add_info {
  display: flex;
  height: 70%;
  flex-direction: column;
}
.wrapper .add_info input {
  max-width: 30rem;
  height: 3.5rem;
  border: none;
  border-radius: 5rem;
  box-shadow: 4px 3px 8px -7px black;
  margin-bottom: 1rem;
  outline: none;
  padding: 0 2rem;
  margin: auto;
  margin-top: 9px;
}
.wrapper .add_info textarea {
  border: none;
  max-width: 35rem;
  height: 20rem;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: 4px 3px 8px -7px #000000;
  margin-bottom: 1rem;
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
  resize: none;
  margin: auto;
  margin-top: 9px;
}
.wrapper .add_info button {
  border: none;
  width: 9rem;
  height: auto;
  background-color: aqua;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: auto;
  margin-top: 9px;
}

.todo_container {
  margin-top: 5rem;
}
.todo_container .todo {
  background-color: white;
  position: relative;
  box-shadow: 1px 3px 13px -3px #cacaca;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: auto;
  max-width: 60%;
  margin-bottom: 2rem;
  min-width: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.todo_container .todo .btn {
  margin-right: 0.5rem;
  border: none;
  width: 7rem;
  height: 2.2rem;
  background-color: aqua;
  border-radius: 0.3rem;
  cursor: pointer;
}
.todo_container .todo .content .task_discription {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo_container .todo .content .task_discription p {
  font-size: 1.3rem;
  font-weight: 500;
}
.todo_container .todo .content .task_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo_container .todo .content .task_name h2 {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid #e4e4e4;
}
.todo_container .todo .edit_btn_wrapper {
  margin-top: auto;
}
.todo_container .todo .editor_toast {
  display: none;
}
.todo_container .editor_active .editor_toast {
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  top: 0%;
  left: 0%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.todo_container .editor_active .editor_toast .editor_input {
  display: flex;
}
.todo_container .editor_active .editor_toast .editor_input input {
  width: 70%;
  height: 30px;
  margin: auto;
  border: none;
  outline: none;
  padding: 0px 1rem;
  font-size: 1.3rem;
  background: no-repeat;
  color: white;
  border-bottom: 1px solid lime;
}
.todo_container .editor_active .editor_toast .editor_btns {
  margin-top: auto;
}
.todo_container .editor_active .editor_toast .editor_btns button {
  border: none;
  margin-left: 3rem;
  background: none;
  color: lime;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
  background-color: #f7f6f6;
  border-radius: 1rem;
}
form input {
  margin-bottom: 2.5rem;
  outline: none;
  border: none;
  width: 34rem;
  height: 3.5rem;
  border-radius: 5rem;
  padding: 0 1rem;
  font-size: 1.5rem;
}/*# sourceMappingURL=todo.css.map */