* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    margin-top: 5rem;

    .todo {
        background-color: white;
        position: relative;
        box-shadow: 1px 3px 13px -3px #cacaca;
        border-radius: .5rem;
        padding: 1rem;
        margin: auto;
        max-width: 60%;
        margin-bottom: 2rem;
        min-width: 18rem;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .content {
            .task_discription {
                margin-top: 1rem;

                p {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }

            .task_name {
                h2 {
                    font-size: 2rem;
                    font-weight: 600;
                    border-bottom: 1px solid #e4e4e4;
                }

            }
        }

        .todo_btns {
            margin-top: auto;

            button {
                margin-right: .5rem;
                border: none;
                width: 7rem;
                height: 2.2rem;
                background-color: aqua;
                border-radius: .3rem;
                cursor: pointer;
            }
        }
        .editor_toast{
            display: none;
        }
       
    }
    .editor_active .editor_toast{
        position: absolute;
        width: 87%;
        background-color: black;
        color: white;
        top: 35%;
        height: 60%;
        padding: 1rem;
        display: flex;
    flex-direction: column;
    
        .editor_input {
            display: flex;
    
            input {
                width: 70%;
                height: 30px;
                margin: auto;
                border: none;
                outline: none;
                padding: 0px 1rem;
                font-size: 1.3rem;
                background: no-repeat;
                color: white;
                border-bottom: 1px solid lime;
            }
        }
    
        .editor_btns {
    
            margin-top: auto;
    
            button {
                border: none;
                margin-left: 3rem;
                background: none;
                color: lime;
                cursor: pointer;
            }
        }
    }

}
