<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/scss/todo.css">
</head>

<body>
   {{>task_nav}}
    <div class="wrapper">
        <div class="add_container">
            <div class="add_drop">
                <i>Drop</i>
            </div>
            <div class="add_info">
                <input class="add_input" type="text" placeholder="task name...">
                <textarea name="dfsdf" id="" cols="30" class="add_discription" placeholder="task discription.." rows="10"></textarea>
                <button class="add_btn">Add</button>
            </div>
        </div>
        <div class="todo_container">
            {{#each templates }}
            <div class="todo" id="{{templateId}}">
                 
                <div class="content">
                    <div class="task_name">
                        <h1 class="todo_heading">{{templateName}}</h1>
                        <div class="edit_btn_wrapper">
                            <button class="name_edit_btn btn">Edit</button>
                        </div>
                    </div>
                    <div class="task_discription">
                        <p class="todo_dicription">{{discription}}</p>
                        <div class="edit_btn_wrapper">
                            <button class="dis_edit_btn btn">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="todo_btns">
                    <button class="remove_todo btn">Delete</button>
                    <span class="task_time">{{taskTime}}</span>
                </div>
                <div class="editor_toast">
                    <div class="editor_input">
                        <input class="edit_input" type="text">
                    </div>
                    <div class="editor_btns">
                        <button class="cancel_editor">Cancel</button>
                        <button class="save_editor">Save</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    <script src="/index.js"></script>
</body>

</html>