<header class="header">
    <nav class="nav_top">
        <div class="main_logo">
            <h1>K<span>Todo</span></h1>
        </div>
        <div class="search_bar">
            <div class="search">
                <input type="text" placeholder="search...">
                <i>icon</i>
            </div>
        </div>
        <div class="nav_linkes">
            <div class="user_status">
                <div class="user_profile">
                    <div class="img"><img src="/img/hanuman.jpg" alt=""></div>
                    <div class="title">
                        <span>{{userName}}</span>
                    </div>
                </div>
                <div class="login">
                    <a href="/login" class="login_btn btn">Login</a>
                </div>
            </div>
        </div>
    </nav>
</header>